<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ sitename }}</title>
  <style>
html {
  overflow-y: scroll;
}

h1 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eaeaea;
}

body {
  color: #000;
  font-family: "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  padding: 1em;
  margin: auto;
  max-width: 60em;
  background: #ffffff;
}

p {
  margin: 1.5em 0;
}

pre {
  padding: 4px 4px;
}

:not(pre) > code {
  padding: 4px 4px;
}

pre,
code {
  color: #000;
  font-family: monospace, monospace;
  margin-bottom: 16px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  overflow: auto;
  line-height: 1.4em;

}
  </style>
</head>
<body>
  <div class="content">
{{{ contents }}}
  </div>
</body>
</html>